body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    height: 479px;
    width: 304px;
    padding: 16px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 10px hsl(219, 28%, 79%);
    position: relative;
    top: 50%;
}

.qr-code {
    width: 272px;
    height: 285px;
    border-radius: 15px;
}

.heading {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

.description {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: thin;
    color: hsl(220, 15%, 55%);
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
